.div-division {    
    z-index: -990;    
    border-right: 5px solid red;
    background-color: darkslategray
}

.titulo-splash {
    margin-top: 5em;
}

.campo-mediano {
    font-size: 1.5em;
    padding: 0.4em;
}

.sidebar {
    position: -webkit-sticky;  
      position: sticky;
      top: 0; 
      z-index: 900;
  }

    
  .div-hito {
    cursor: pointer;
    margin-top: 0.5em;
  }

  .img-peq {
      width: 30%;
      height: auto;
  }

  .ico-desktop {
    width: 10%;
    height: auto;
}

  .font-2 {
      font-size: 1.2em;
  }


  .card-title {
      min-height: 3em;
  }

  .visor-anno {
      font-size: 2em;
      font-weight: bold;
  }


  

  